* {
	color: red;
	background-color: black;
}
header {
	border-style: solid;
	border-width: medium;
	border-color: red;
	text-align: center;
	font-weight: bolder;
}
nav {
	margin-top: 10px;
}
label{
	font-weight: bold;
}
input {
	color: black;
	background-color: white;
	position: static;
}
img{
	background-color: white;
}
main {
	margin-top: 2%;
}
section{
	width: 33%;
	max-width: 33%;
	text-align: center;
	float: left;
}
footer{
	width: 33%;
	max-width: 33%;
}
table{
	font-size: large;
	width: 90%;
	margin: 0% 5%;
}
caption{
	color: grey;
}
tr{
	outline-style: solid;
	outline-width: medium;
	outline-color: red;
}
ul{
	overflow:hidden;
	overflow-y:scroll;
}

.elemName{
	cursor: pointer !important;
}
a:link {
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}
a:visited {
	color: pink;
	background-color: transparent;
	text-decoration: underline;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
